body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style-type: none;
}

.searchForm {
  background-color: #ccd6e6;
  border-color: #ccd6e6;
  border-radius: 20px;
  color: grey;
  margin-top: 17px;
  margin-bottom: 20px;
}
